<include href="layouts/header.html" />

<body class="animsition">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<include href="layouts/site.html" />

<!-- Page -->
<div class="page">
    <!--  Edit Modal  -->
    <div class="modal fade" id="editModal" aria-labelledby="editModalLabel" role="dialog" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-simple">
            <form class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="editModalLabel">編輯學生</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xl-12 form-group">
                            <label class="form-control-label" for="edit_name">Name</label>
                            <input type="text" class="form-control" id="edit_name" name="name" placeholder="name" required="">
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="col-xl-12 form-group">
                            <label class="form-control-label" for="edit_email">Email</label>
                            <input type="email" class="form-control" id="edit_email" name="email" placeholder="email" required="">
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="col-xl-12 form-group">
                            <label class="form-control-label">Enable</label>
                            <br>
                            <input type="radio" name="edit_enable" value="Y" checked> 開
                            <br>
                            <input type="radio" name="edit_enable" value="N"> 關
                        </div>
                        <div class="col-md-12 float-right">
                            <button id="edit_class_teacher" class="btn btn-primary btn-outline" type="button">確定修改</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="page-header">
        <div class="page-header-actions">
        </div>
    </div>
    <div class="page-content">
        <!-- Panel Basic -->
        <div class="panel">
            <header class="panel-heading">
                <h3 class="panel-title">School</h3>
            </header>
            <div class="panel-body container-fluid">
                <div class="row row-lg">
                    <div class="col-lg-12">
                        <!-- Example Basic -->
                        <div class="example-wrap">
                            <div class="example table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>School ID</th>
                                        <th>Name</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{ @school->id }}</td>
                                        <td>{{ @school->name }}</td>
                                        <input type="hidden" id="school_id" value="{{ @school->id }}">
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- End Example Basic -->
                    </div>

                </div>
            </div>
        </div>
        <div class="panel">
            <header class="panel-heading">
                <h3 class="panel-title">Class</h3>
            </header>
            <div class="panel-body container-fluid">
                <div class="row row-lg">
                    <div class="col-lg-12">
                        <!-- Example Basic -->
                        <div class="example-wrap">
                            <div class="example table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Class ID</th>
                                        <th>Name</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{ @class->id }}</td>
                                        <td>{{ @class->name }}</td>
                                        <input type="hidden" id="class_id" value="{{ @class->id }}">
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- End Example Basic -->
                    </div>

                </div>
            </div>
        </div>
        <div class="panel">
            <header class="panel-heading">
                <h3 class="panel-title">Student</h3>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-15">
                            <button data-target="#AddModal" data-toggle="modal" class="btn btn-outline btn-primary" type="button">
                                <i class="icon wb-plus" aria-hidden="true"></i> Add Student
                            </button>
                        </div>
                    </div>
                </div>
                <div id="exampleAddRow_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_length" id="exampleAddRow_length">
                                <label>
                                    <select name="exampleAddRow_length" id="row_length" aria-controls="exampleAddRow" class="form-control form-control-sm" style="width: 100px">
                                        <loop from="{{ @i=20 }}" to="{{ @i <= 100 }}" step="{{ @i+=20 }}">
                                            <check if="{{ @i==@page['per'] }}">
                                                <true><option value="{{ @i }}" selected>{{ @i }}</option></true>
                                                <false><option value="{{ @i }}">{{ @i }}</option></false>
                                            </check>
                                            </li>
                                        </loop>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div id="exampleAddRow_filter" class="dataTables_filter">
                                <label>
                                    <input id="search_input" type="search" class="form-control form-control-sm" placeholder="Search.." aria-controls="exampleAddRow">
                                    <button id="search_btn" type="button" class="btn btn-icon btn-success btn-outline"><i class="icon wb-search" aria-hidden="true"></i></button>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-hover table-striped dataTable no-footer" cellspacing="0" id="exampleAddRow" role="grid" aria-describedby="exampleAddRow_info">
                                <thead>
                                <tr role="row">
                                    <th>Student ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Enable</th>
                                    <th>Created_at</th>
                                    <th>Updated_at</th>
                                    <th>Edit</th>
                                </tr>
                                </thead>
                                <tbody>
                                <repeat group="{{ @class_teachers }}" value="{{ @class_teacher }}">
                                    <tr>
                                        <td>{{ @class_teacher->teacher_id }}</td>
                                        <td>{{ @class_teacher->name }}</td>
                                        <td>{{ @class_teacher->email }}</td>
                                        <td>{{ @class_teacher->enable }}</td>
                                        <td>{{ @class_teacher->created_at }}</td>
                                        <td>{{ @class_teacher->updated_at }}</td>
                                        <td>
                                            <a href="javascript:void(0)" data-id="{{ @class_teacher->teacher_id }}" id="edit_class_teacher_modal" data-target="#editModal" data-toggle="modal" class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip" data-original-title="Edit"><i class="icon wb-edit" aria-hidden="true"></i></a>
                                            <a href="javascript:void(0)" class="btn btn-sm btn-icon btn-pure btn-default on-default remove-row" data-toggle="tooltip" data-original-title="Remove"><i class="icon wb-trash" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                </repeat>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info" id="exampleAddRow_info" role="status" aria-live="polite">
                                Showing {{ @page['sql_limit_start'] + 1 }} to
                                <check if="{{ (@page['sql_limit_start'] + @page['sql_limit_end']) >= @page['data_nums'] }}">
                                    <true>{{ @page['data_nums'] }}</true>
                                    <false>{{ @page['sql_limit_start'] + @page['sql_limit_end'] }}</false>
                                </check>
                                of {{ @page['data_nums'] }} entries
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="exampleAddRow_paginate">
                                <ul class="pagination">
                                    <check if="{{ @page['page']==1 }}">
                                        <true><li class="paginate_button page-item previous disabled"></true>
                                        <false><li class="paginate_button page-item previous" ></false>
                                    </check>
                                    <a href="javascript:void(0)"  data-page="{{ @page['page'] - 1 }}" aria-controls="exampleAddRow" data-dt-idx="0" tabindex="0" class="page-link change-page">Previous</a>
                                    </li>
                                    <loop from="{{ @i=1 }}" to="{{ @i <= @page['total_pages'] }}" step="{{ @i++ }}">
                                        <check if="{{ @i==@page['page'] }}">
                                            <true><li class="paginate_button page-item active"></true>
                                            <false><li class="paginate_button page-item"></false>
                                        </check>
                                        <check if="{{ @page['page']-5 < @i && @i < @page['page']+5 }}">
                                            <true><a href="javascript:void(0)" data-page="{{ @i }}"  aria-controls="exampleAddRow" data-dt-idx="1" tabindex="0" class="page-link change-page">{{ @i }}</a></true>
                                        </check>
                                        </li>
                                    </loop>
                                    <check if="{{ @page['page'] >= @page['total_pages'] }}">
                                        <true><li class="paginate_button page-item next disabled"></true>
                                        <false><li class="paginate_button page-item next"></false>
                                    </check>
                                    <a href="javascript:void(0)" data-page="{{ @page['page'] + 1 }}" aria-controls="exampleAddRow" data-dt-idx="5" tabindex="0" class="page-link change-page">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Panel Basic -->
    </div>
</div>
<!-- End Page -->


<!-- Footer -->
<footer class="site-footer">
    <div class="site-footer-legal">© 2019 <a
            href="#">Ebook</a></div>
    </div>
</footer>
<include href="layouts/footer.html"/>

<script>

    const toast = swal.mixin({
        toast: true,
        position: 'center',
        showConfirmButton: false,
        timer: 3000
    });

    // 編輯學生按鈕點擊 , Ajax 撈資料渲染到 Html
    $(document).on('click', '#edit_class_teacher_modal', function(){
        let id = $(this).data('id');
        $.ajax({
            type: "post",
            url: "/api/get-teacher-by-id",
            dataType: "json",
            data: {
                id: id,
            },
            success: function (result) {
                if (result.type === 'success') {

                    $('#edit_name').val(result.teacher.name);
                    $('#edit_email').val(result.teacher.email);
                    $('#edit_class_teacher').attr('data-id', result.teacher.id);

                    $('input[name=edit_enable]').each(function(){
                        let _this = $(this);
                        _this.prop("checked", false);
                        if (_this.val() === result.teacher.enable) {
                            _this.prop("checked", true);
                        }
                    });

                } else if (result.type === 'error') {
                    toast({
                        type: 'error',
                        title: result.message
                    })
                }
            },
            error: function () {
                toast({
                    type: 'error',
                    title: '系統異常'
                })
            }
        });
    });

    // 確定編輯學生
    $(document).on('click', '#edit_class_teacher', function () {

        let edit_data_arr = {
            'edit_id' : $(this).data('id'),
            'edit_name' : $('#edit_name').val(),
            'edit_email' : $('#edit_email').val(),
            'edit_enable' : $('input[name=edit_enable]:checked').val(),
        };

        for (let key in edit_data_arr) {

            // TODO 初步驗證格式

            if (edit_data_arr[key].length <= 0) {
                $('#' + key).addClass('is-invalid');
                $('#' + key).next().text('此欄位必須填寫');
                return false;
            } else {
                $('#' + key).removeClass('is-invalid');
                $('#' + key).addClass('is-valid');
                $('#' + key).next().text('');
            }
        }

        $.ajax({
            type: "post",
            url: "/api/edit-teacher",
            dataType: "json",
            data: {
                id: edit_data_arr.edit_id,
                name: edit_data_arr.edit_name,
                email: edit_data_arr.edit_email,
                enable: edit_data_arr.edit_enable,
            },
            success: function (result) {
                if (result.type === 'success') {

                    if (result.type === 'success') {
                        location.reload();
                    } else if (result.type === 'error') {
                        toast({
                            type: 'error',
                            title: result.message
                        })
                    }

                } else if (result.type === 'error') {
                    toast({
                        type: 'error',
                        title: result.message
                    })
                }
            },
            error: function () {
                toast({
                    type: 'error',
                    title: '系統異常'
                })
            }
        });
    });

    $(document).on('click', '#search_btn', function(){
        let search = $('#search_input').val();
        let url = $.url(window.location.href);
        let params = url.param();
        params['page'] = 1;
        params['per'] = 20;
        params['key_word'] = search;
        location.assign(window.location.origin + window.location.pathname + '?' + $.param(params));
    });

    $(document).on('change', '#row_length', function(){
        let per = $(this).val();
        let url = $.url(window.location.href);
        let params = url.param();
        params['page'] = 1;
        params['per'] = per;
        location.assign(window.location.origin + window.location.pathname + '?' + $.param(params));
    });

    $(document).on('click', '.change-page', function(){
        let page = $(this).data('page');
        let url = $.url(window.location.href);
        let params = url.param();
        params['page'] = page;
        location.assign(window.location.origin + window.location.pathname + '?' + $.param(params));
    });

</script>