<include href="layouts/header.html"/>
<body class="animsition">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<include href="layouts/site.html"/>

<!-- Page -->
<div class="page">

    <div class="page-header">
        <div class="page-header-actions">
            <button type="button" data-target="#exampleFormModal" data-toggle="modal"
                    class="btn btn-outline btn-primary"><i class="icon wb-plus" aria-hidden="true"></i> Add
            </button>
        </div>
    </div>
    <div class="modal fade" id="exampleFormModal" aria-labelledby="exampleFormModalLabel" role="dialog" tabindex="-1"
         style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-simple">
            <form class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="exampleFormModalLabel">新增學生</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xl-12 form-group">
                            <label class="form-control-label" for="id">ID</label>
                            <input type="text" class="form-control" id="id" name="id"
                                   placeholder="id" required="">
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="col-xl-12 form-group">
                            <label class="form-control-label" for="school_id">School_id</label>
                            <input type="text" class="form-control" id="school_id" name="school_id"
                                   placeholder="school_id" required="">
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="col-xl-12 form-group">
                            <label class="form-control-label" for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name"
                                   placeholder="name" required="">
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="col-xl-12 form-group">
                            <label class="form-control-label" for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email"
                                   placeholder="email" required="">
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="col-xl-12 form-group">
                            <label class="form-control-label" for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="password" required="">
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="col-xl-12 form-group">
                            <label class="form-control-label">Subscription</label><br>
                            <input type="radio" name="subscription" value="Y" checked>  開<br>
                            <input type="radio" name="subscription" value="N">  關
                        </div>
                        <div class="col-xl-12 form-group">
                            <label class="form-control-label">Enable</label><br>
                            <input type="radio" name="enable" value="Y" checked>  開<br>
                            <input type="radio" name="enable" value="N">  關
                        </div>
                        <div class="col-md-12 float-right">
                            <button id="add_student" class="btn btn-primary btn-outline" type="button">確定新增</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="page-content">
        <!-- Panel Basic -->
        <div class="panel">
            <header class="panel-heading">
                <div class="panel-actions"></div>
                <h3 class="panel-title">Basic</h3>
            </header>
            <div class="panel-body">
                <table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>School_id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Subscription</th>
                        <th>Enable</th>
                        <th>Created_at</th>
                        <th>Updated_at</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>School_id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Subscription</th>
                        <th>Enable</th>
                        <th>Created_at</th>
                        <th>Updated_at</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <repeat group="{{ @students }}" value="{{ @student }}">
                        <tr>
                            <td>{{ @student->id }}</td>
                            <td>{{ @student->school_id }}</td>
                            <td>{{ @student->name }}</td>
                            <td>{{ @student->email }}</td>
                            <td>{{ @student->subscription }}</td>
                            <td>{{ @student->enable }}</td>
                            <td>{{ @student->created_at }}</td>
                            <td>{{ @student->updated_at }}</td>
                        </tr>
                    </repeat>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- End Panel Basic -->
    </div>
</div>
<!-- End Page -->


<!-- Footer -->
<footer class="site-footer">
    <div class="site-footer-legal">© 2019 <a
            href="#">Ebook</a></div>
    </div>
</footer>
<include href="layouts/footer.html"/>

<script>

    const toast = swal.mixin({
        toast: true,
        position: 'center',
        showConfirmButton: false,
        timer: 3000
    });

    $(document).on('click', '#add_student', function () {

        const toast = swal.mixin({
            toast: true,
            position: 'center',
            showConfirmButton: false,
            timer: 3000
        });

        let data_arr = {
            'id'           : $('#id').val(),
            'school_id'    : $('#school_id').val(),
            'name'         : $('#name').val(),
            'email'        : $('#email').val(),
            'password'     : $('#password').val(),
            'subscription' : $('input[name=subscription]:checked').val(),
            'enable'       : $('input[name=enable]:checked').val()
        };

        for (let key in data_arr) {

            // TODO 初步驗證格式

            if (data_arr[key].length <= 0) {
                $('#' + key).addClass('is-invalid');
                $('#' + key).next().text('此欄位必須填寫');
                return false;
            } else {
                $('#' + key).removeClass('is-invalid');
                $('#' + key).addClass('is-valid');
                $('#' + key).next().text('');
            }
        }

        $.ajax({
            type: "post",
            url: "/api/add-student",
            dataType: "json",
            data: {
                id:           data_arr.id,
                school_id:    data_arr.school_id,
                name:         data_arr.name,
                email:        data_arr.email,
                password:     data_arr.password,
                subscription: data_arr.subscription,
                enable:       data_arr.enable
            },
            success: function (result) {
                if (result.type === 'success') {
                    location.reload();
                } else if (result.type === 'error') {
                    toast({
                        type: 'error',
                        title: result.message
                    })
                }
            },
            error: function () {
                toast({
                    type: 'error',
                    title: '系統異常'
                })
            }
        });
    });
</script>